body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input , label {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  width: 200px;
  height: 30px;
  margin: 5px;
  padding: 5px;

  font-style: bold ; 
}
.search {
  background-color:#0078d1 ;
  color: #ffffff;
  width:200px;
  height:50px;
}
span {
  font-weight: bold;
}
.error {
  color: red;
  font-weight: 700;
  margin-top: 15px;
}
